---
import Link from "@components/links/Link/Link.astro";
import { ROUTER } from "src/pages/_router";

const { home, login, account } = ROUTER;
const isAuth = Astro.cookies.get("token")?.value;
---

<header>
  <nav>
    <Link href={home.href}>{home.display}</Link>
    {!isAuth && <Link href={login.href}>{login.display}</Link>}

    {isAuth && <Link href={account.href}>{account.display}</Link>}
  </nav>
</header>

<style>
  header {
    border-bottom: var(--border);
    min-height: 80px;

    display: grid;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      @media (min-width: 320px) and (max-width: 767px) {
        gap: var(--lg);
      }

      a {
        color: inherit;
        text-transform: capitalize;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
